.header {
    background-color: #2c323c;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
    width: 100%;
}